<app-block-ui [isBlocked]="isBlocked"></app-block-ui>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-10">
        <h1 class="m-0 text-dark">View Cheques</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search"
              (keyup)="searchTerm$.next($event.target.value)">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Order Id</th>
              <th>Customer</th>
              <th>Cheque Date</th>
              <th>Cheque Number</th>
              <th>Bank</th>
              <th>Branch</th>
              <th>Cheque Status</th>
              <th class="text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of chequePayments;let i=index">
              <td>{{payment.orderId}}</td>
              <td>{{payment.customerName }}</td>
              <td>{{payment.chequeDate | date}}</td>
              <td>{{payment.chequeNumber}}</td>

              <td>{{payment.bank}}</td>
              <td>{{payment.branch}}</td>
              <td><span [ngClass]="payment.chequeStatus"
                  (click)="openModal(template,true,payment)">{{payment.chequeStatus}}</span>
              </td>
              <td class="text-right">Rs.{{payment.amount | number:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<pagination [boundaryLinks]="true" [totalItems]="searchRequestModel.totalRecords"
  [(ngModel)]="searchRequestModel.currentPage" (pageChanged)="pageChanged($event)"
  [itemsPerPage]="searchRequestModel.take" class="pagination-sm float-md-right" [maxSize]="10" previousText="&lsaquo;"
  nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Cheque</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="chequeForm">
      <div class="card-body">
        <div class="form-group">
          <label for="chequeDate">Cheque Date:</label>
          <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker formControlName="chequeDate">
          <div
            [hidden]="chequeForm.get('chequeDate').valid || (chequeForm.get('chequeDate').pristine && !isChequePaymentFormSubmitted)"
            class="alert alert-warning">
            <small class="alert-warning-message"
              *ngIf="chequeForm.get('chequeDate').errors && chequeForm.get('chequeDate').errors.required">
              Cheque date is Required
              <br>
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="bank">Bank :</label>
          <input type="text" class="form-control" id="bank" formControlName="bank">
        </div>
        <div class="form-group">
          <label for="branch">Branch :</label>
          <input type="text" class="form-control" id="branch" formControlName="branch">
        </div>
        <div class="form-group">
          <label for="chequeNumber">Cheque Number :</label>
          <input type="text" class="form-control" id="chequeNumber" formControlName="chequeNumber">
          <div
            [hidden]="chequeForm.get('chequeNumber').valid || (chequeForm.get('chequeNumber').pristine && !isChequePaymentFormSubmitted)"
            class="alert alert-warning">
            <small class="alert-warning-message"
              *ngIf="chequeForm.get('chequeNumber').errors && chequeForm.get('chequeNumber').errors.required">
              Cheque Number is Required
              <br>
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="chequeAmount">Cheque Amount :</label>
          <input type="number" class="form-control" id="chequeAmount" formControlName="amount">
          <div
            [hidden]="chequeForm.get('amount').valid || (chequeForm.get('amount').pristine && !isChequePaymentFormSubmitted)"
            class="alert alert-warning">
            <small class="alert-warning-message"
              *ngIf="chequeForm.get('amount').errors && chequeForm.get('amount').errors.required">
              Cheque Number is Required
              <br>
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="chequeStatus">Cheque Status :</label>
          <select formControlName="chequeStatus" class="form-control custom-select" style="width: 100%;">
            <option value="1">Unrealized</option>
            <option value="2">Realized</option>
            <option value="3">Bounced</option>
            <option value="4">UnPresented</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary float-sm-right"
          (click)="updateChequePaymentModal.showModal()">Update
          Cheque</button>
      </div>
    </form>
  </div>
</ng-template>

<app-update-modal #updateChequePaymentModal [message]="'Do you want to update the selected cheque'"
  (update)="updateCheque()">
</app-update-modal>
