<!-- <app-block-ui [isBlocked]="isBlocked"></app-block-ui> -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-10">
        <h1 class="m-0 text-dark">View Inventory</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search"
              (keyup)="searchTerm$.next($event.target.value)">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Product</th>
              <th class="al-center">Category</th>
              <th class="al-center">Seperation Factor</th>
              <th>Value</th>
              <th class="al-center">Available Qty</th>
              <th class="al-right">Price</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of inventorList;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td class="al-center">{{item.category}}</td>
              <td class="al-center">{{item.seperationFactor}}</td>
              <td>{{item.seperationFactorValue}}</td>
              <td class="al-center">{{item.availableQuantity}}</td>
              <td class="al-right">Rs. {{item.invoicedPrice|number:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<pagination [boundaryLinks]="true" [totalItems]="searchRequestModel.totalRecords"
  [(ngModel)]="searchRequestModel.currentPage" (pageChanged)="pageChanged($event)"
  [itemsPerPage]="searchRequestModel.take" class="pagination-sm float-md-right" [maxSize]="10" previousText="&lsaquo;"
  nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
