<app-block-ui [isBlocked]="isBlocked"></app-block-ui>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-10">
        <h1 class="m-0 text-dark">View Payments</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search"
              (keyup)="searchTerm$.next($event.target.value)">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Order Id</th>
              <th>Order Date</th>
              <th>Customer</th>
              <th class="text-center">Payment Status</th>
              <th class="text-right">Total Amount</th>
              <th class="text-right">Discount</th>
              <th class="text-right">Total Payable</th>
              <th class="text-right">Remaining</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments;let i=index">
              <td>{{payment.orderId}}</td>
              <td>{{payment.orderDate|date:'medium' }}</td>
              <td>{{payment.customerName}}</td>
              <td class="text-center">{{payment.paymentStatus}}</td>
              <td class="text-right">Rs.{{payment.totalAmount| number:'1.2-2'}}</td>
              <td class="text-right">Rs.{{payment.discount| number:'1.2-2'}}</td>
              <td class="text-right">Rs.{{payment.totalPayable| number:'1.2-2'}}</td>
              <td class="text-right">Rs.{{payment.remainingAmount| number:'1.2-2'}}</td>
              <td>
                <button type="button" class="table-btn edit"
                  (click)="editPayment(payment.id)"><i class="fas fa-edit"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<pagination [boundaryLinks]="true" [totalItems]="searchRequestModel.totalRecords"
  [(ngModel)]="searchRequestModel.currentPage" (pageChanged)="pageChanged($event)"
  [itemsPerPage]="searchRequestModel.take" class="pagination-sm float-md-right" [maxSize]="10"
  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
