<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Invoice</h1>
      </div>
    </div>
  </div>
</section>

<section class="content" id="divInvoice">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="invoice p-3 mb-3">
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> Twinline Marketing
                <small class="float-right">{{today|date}}</small>
              </h4>
            </div>
          </div>
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              <address>
                23/1 k.d david avenue,<br>
                Maradana, Colombo - 10<br>
                Phone: (+94) 777-273771<br>
                Email: jim_sltnet.lk
              </address>
            </div>
            <div class="col-sm-4 invoice-col">
              <address>
                <strong>{{customer.company}}</strong><br>
                {{customer.address}}<br>
                Phone: {{customer.contact}}<br>
              </address>
            </div>
            <div class="col-sm-4 invoice-col">
              <b>Order Id : #{{invoice.id}}</b><br>
              Ordered Date : <b>{{invoice.orderDate|date}}</b><br />
              Total : <b>Rs.{{invoice.totalAmount| number:'1.2-2'}}/=</b>
            </div>
          </div>

          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th class="text-right">Unit Price</th>
                    <th class="text-right">Discount</th>
                    <th class="text-right">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of invoice.orderItems; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.productName}} </td>
                    <td>{{item.quantity}} </td>
                    <td class="text-right">Rs.{{item.unitPrice| number:'1.2-2'}}</td>
                    <td class="text-right">Rs.{{item.discount| number:'1.2-2'}} </td>
                    <td class="text-right">Rs.{{item.totalPayable| number:'1.2-2'}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row no-print">
            <div class="col-12">
              <a (click)="printInvoice()" target="_blank" class="btn btn-primary float-right"><i
                  class="fas fa-print"></i>
                Print</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
