<app-block-ui [isBlocked]="isBlocked"></app-block-ui>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-10">
            <div class="header-wrapper">
              <a class="back-btn" [routerLink]="['/payment/view']" routerLinkActive="router-link-active"><i
                  class="fas fa-arrow-left"></i></a>
              <h1 class="m-0 text-dark">Manage Payment</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <button *ngIf="paymentModel.paymentStatus != 'Paid'" type="button" class="btn btn-primary float-right"
          (click)="openModal(template,false,null)">Add Cheque</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="card-body table-responsive pb-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Paid Date</th>
            <th>Method</th>
            <th class="text-right">Paid Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partialPayment of paymentModel.partialPayments;let i=index">
            <td>{{i+1}}</td>
            <td>{{partialPayment.paidDateTime|date:'medium' }}</td>
            <td>{{partialPayment.paymentMethod}}</td>
            <td class="text-right">Rs.{{partialPayment.paidAmount| number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="paymentModel.partialPayments.length == 0"> No payments!</div>
    </div>

    <div class="card-body table-responsive p-0" *ngIf="paymentModel.chequePayments.length != 0">
      <h4 class="cheque-title">Cheque Details</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Cheque Date</th>
            <th>Bank</th>
            <th>Branch</th>
            <th>Cheque Number</th>
            <th>Status</th>
            <th class="text-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chequePayment of paymentModel.chequePayments;let i=index">
            <td>{{i+1}}</td>
            <td>{{chequePayment.chequeDate|date}}</td>
            <td>{{chequePayment.bank}}</td>
            <td>{{chequePayment.branch}}</td>
            <td>{{chequePayment.chequeNumber}}</td>
            <td><span [ngClass]="chequePayment.chequeStatus"
                (click)="openModal(template,true,chequePayment)">{{chequePayment.chequeStatus}}</span>
            </td>
            <td class="text-right">Rs.{{chequePayment.amount| number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <div id="image" *ngIf="paymentModel.paymentStatus == 'Paid'">
          <img src="assets/images/admin/paid.png">
        </div>
        <h3 class="card-title">
          <b>Payment Info</b>
        </h3>
      </div>
      <div class="card-body">
        <div>
          <b>Invoice Id : </b> #{{paymentModel.orderId}}<br /><br />
          <b>Customer Name : </b> {{paymentModel.customerName}}<br />
          <b>Total Amount : </b> Rs.{{paymentModel.totalAmount| number:'1.2-2'}}/=<br />
          <span *ngIf="paymentModel.discount != 0"><b>Discount : </b> Rs.{{paymentModel.discount}}/=<br /></span>
          <b>Total Payable : </b> Rs.{{paymentModel.totalPayable| number:'1.2-2'}}/=<br />
          <b class="balance">Remaining Amount : Rs.{{paymentModel.remainingAmount| number:'1.2-2'}}/=</b><br />
        </div>
      </div>
    </div>
    <div class="card" *ngIf="paymentModel.paymentStatus != 'Paid'">
      <div class="card-header">
        <h3 class="card-title">
          <b>Add Payment</b>
        </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="paymentForm">
          <div class="card-body">
            <div class="form-group">
              <label for="paidAmount">Payment Amount :</label>
              <input type="number" class="form-control" id="paidAmount" formControlName="paidAmount">
              <div
                [hidden]="paymentForm.get('paidAmount').valid || (paymentForm.get('paidAmount').pristine && !isFormSubmitted)"
                class="alert alert-warning">
                <small class="alert-warning-message"
                  *ngIf="paymentForm.get('paidAmount').errors && paymentForm.get('paidAmount').errors.required">
                  Payment Amount is Required
                  <br>
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="paymentMethod">Payment Method :</label>
              <select class="form-control custom-select" style="width: 100%;" formControlName="paymentMethod" disabled>
                <option value="0">Select Payment Method</option>
                <option value="1" [selected]="true">Cash</option>
              </select>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary float-sm-right" (click)="addPaymentModal.showModal()">Add
              Payment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-update-modal #addPaymentModal [message]="'Do you want to add payment'" (update)="addPayment()">
</app-update-modal>

<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="!isUpdateCheque" class="modal-title pull-left">Add Cheque</h4>
    <h4 *ngIf="isUpdateCheque" class="modal-title pull-left">Update Cheque</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="chequeForm">
      <div class="card-body">
        <div class="form-group">
          <label for="chequeDate">Cheque Date:</label>
          <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker formControlName="chequeDate">
          <div
            [hidden]="chequeForm.get('chequeDate').valid || (chequeForm.get('chequeDate').pristine && !isChequePaymentFormSubmitted)"
            class="alert alert-warning">
            <small class="alert-warning-message"
              *ngIf="chequeForm.get('chequeDate').errors && chequeForm.get('chequeDate').errors.required">
              Cheque date is Required
              <br>
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="bank">Bank :</label>
          <input type="text" class="form-control" id="bank" formControlName="bank">
        </div>
        <div class="form-group">
          <label for="branch">Branch :</label>
          <input type="text" class="form-control" id="branch" formControlName="branch">
        </div>
        <div class="form-group">
          <label for="chequeNumber">Cheque Number :</label>
          <input type="text" class="form-control" id="chequeNumber" formControlName="chequeNumber">
          <div
            [hidden]="chequeForm.get('chequeNumber').valid || (chequeForm.get('chequeNumber').pristine && !isChequePaymentFormSubmitted)"
            class="alert alert-warning">
            <small class="alert-warning-message"
              *ngIf="chequeForm.get('chequeNumber').errors && chequeForm.get('chequeNumber').errors.required">
              Cheque Number is Required
              <br>
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="chequeAmount">Cheque Amount :</label>
          <input type="number" class="form-control" id="chequeAmount" formControlName="amount">
          <div
            [hidden]="chequeForm.get('amount').valid || (chequeForm.get('amount').pristine && !isChequePaymentFormSubmitted)"
            class="alert alert-warning">
            <small class="alert-warning-message"
              *ngIf="chequeForm.get('amount').errors && chequeForm.get('amount').errors.required">
              Cheque Number is Required
              <br>
            </small>
          </div>
        </div>
        <div class="form-group" *ngIf="isUpdateCheque">
          <label for="chequeStatus">Cheque Status :</label>
          <select formControlName="chequeStatus" class="form-control custom-select" style="width: 100%;">
            <option value="1">Unrealized</option>
            <option value="2">Realized</option>
            <option value="3">Bounced</option>
            <option value="4">UnPresented</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button *ngIf="!isUpdateCheque" type="button" class="btn btn-primary float-sm-right"
          (click)="addChequePaymentModal.showModal()">Add
          Cheque</button>
        <button *ngIf="isUpdateCheque" type="button" class="btn btn-primary float-sm-right"
          (click)="updateChequePaymentModal.showModal()">Update
          Cheque</button>
      </div>
    </form>
  </div>
</ng-template>

<app-update-modal #addChequePaymentModal [message]="'Do you want to add this cheque'" (update)="addCheque()">
</app-update-modal>

<app-update-modal #updateChequePaymentModal [message]="'Do you want to update the selected cheque'"
  (update)="updateCheque()">
</app-update-modal>
