<div bsModal #deleteConfirmationModal="bs-modal" class="modal fade cusotm-modal-config" id="modal-danger" [config]="{keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
                <button type="button" class="close" (click)="reject()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{message}}&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" (click)="reject()">Close</button>
                <button type="button" class="btn btn-outline-light" (click)="confirm()">Delete</button>
            </div>
        </div>
    </div>
</div>
