<app-block-ui [isBlocked]="isBlocked"></app-block-ui>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-10">
        <h1 class="m-0 text-dark">View Orders</h1>
      </div>
      <div class="col-sm-2 float-sm-right">
        <button type="button" class="btn btn-block btn-primary" [routerLink]="['/order/create']">
          Create order
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search"
              (keyup)="searchTerm$.next($event.target.value)" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Order Id</th>
              <th>Order Date</th>
              <th>Customer</th>
              <th>Order Status</th>
              <th>Total Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <td>{{ order.orderId }}</td>
              <td>{{ order.orderDate | date: "medium" }}</td>
              <td>{{ order.customerName }}</td>
              <td>{{ order.orderStatus }}</td>
              <td>Rs.{{ order.totalAmount | number: "1.2-2" }}</td>
              <td>
                <button type="button" class="table-btn edit" title="view" (click)="viewInvoice(order.orderId)"> <i
                    class="fas fa-receipt"></i> </button>
                <button type="button" class="table-btn edit" title="Edit" (click)="editOrder(order.orderId)">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<pagination [boundaryLinks]="true" [totalItems]="searchRequestModel.totalRecords"
  [(ngModel)]="searchRequestModel.currentPage" (pageChanged)="pageChanged($event)"
  [itemsPerPage]="searchRequestModel.take" class="pagination-sm float-md-right" [maxSize]="10" previousText="&lsaquo;"
  nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
