.orderlist-wrapper {
    background: #f4f6f9;
}

@media only screen and (max-width: 960px) {
    .orderlist-wrapper {

    }
}

.alert-warning {
  color: #1F2D3D;
  background: #ff1d1d;
  border-color: #ff0000;
  height: 45px !important;
}
