<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link" [routerLink]="['/dashboard']">
    <img src="assets/images/admin/Logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Twinline Marketing</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['is-active']">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p> Dashboard </p>
          </a>
        </li>

        <li [ngClass]="!isAdministrationClicked ? 'nav-item has-treeview' :  'nav-item has-treeview menu-open'">
          <a href="#" class="nav-link" (click)="navClicked('isAdministrationClicked')">
            <i class="nav-icon fas fa-user-shield"></i>
            <p> Administration <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul [ngClass]="!isPaymentClicked ? 'nav nav-treeview hide' :  'nav nav-treeview show'">
            <li class="nav-item">
              <a href="#" class="nav-link" [routerLink]="['/category']" [routerLinkActive]="['is-active']">
                <p>Category</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" [routerLink]="['/product']" [routerLinkActive]="['is-active']">
                <p>Product</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/customer']" [routerLinkActive]="['is-active']">
            <i class="nav-icon fas fa-user"></i>
            <p> Customer </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/order']" [routerLinkActive]="['is-active']">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p> Order </p>
          </a>
        </li>
        <li [ngClass]="!isPaymentClicked ? 'nav-item has-treeview' :  'nav-item has-treeview menu-open'">
          <a href="#" class="nav-link" (click)="navClicked('isPaymentClicked')">
            <i class="nav-icon fas fa-money-bill"></i>
            <p> Payment <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul [ngClass]="!isPaymentClicked ? 'nav nav-treeview hide' :  'nav nav-treeview show'">
            <li class="nav-item">
              <a href="#" [routerLink]="['/payment/view']" class="nav-link" [routerLinkActive]="['is-active']">
                <p>View Payments</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" [routerLink]="['/payment/cheque/view']" class="nav-link" [routerLinkActive]="['is-active']">
                <p>Cheque Payments</p>
              </a>
            </li>
          </ul>
        </li>

        <li [ngClass]="!isInventoryClicked ? 'nav-item has-treeview' :  'nav-item has-treeview menu-open'">
          <a href="#" class="nav-link" (click)="navClicked('isInventoryClicked')">
            <i class="nav-icon fas fa-money-bill"></i>
            <p> Inventory <i class="right fas fa-angle-left"></i></p>
          </a>
          <ul [ngClass]="!isInventoryClicked ? 'nav nav-treeview hide' :  'nav nav-treeview show'">
            <li class="nav-item">
              <a href="#" [routerLink]="['/inventory/view']" class="nav-link" [routerLinkActive]="['is-active']">
                <p>View Inventory</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
