.show {
  display: block;
}

.hide {
  display: none;
}

.nav-link .is-active{
  width: 40px !important;
}

.nav-link.is-active:after {
  width: 5px;
  height: 100%;
  content: "";
  position: absolute;
  background-color: #c3c3da;
  right: 0;
  top:0
}
