<div class="hold-transition sidebar-mini">
    <div class="wrapper">
        <app-header></app-header>
        <app-sidenav></app-sidenav>

        <div class="content-wrapper">
            <div class="content">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>

        <footer class="main-footer no-print">
            <div class="float-right d-none d-sm-inline">
                V 1.0.0
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="https://twinlinemarketing.lk">twinlinemarketing.lk</a>.</strong>
            All
            rights reserved.
        </footer>
    </div>
</div>
