<div class="bg"></div>
<div class="login-page">
  <div class="login-box">

    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <a href="#"><b>Twinline Marketing</b></a>
        </div>
        <form [formGroup]="userLoginForm" novalidate="novalidate">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" formControlName="email">

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div [hidden]="userLoginForm.get('email').valid || (userLoginForm.get('email').pristine)"
            class="alert alert-warning">
            <small *ngIf="userLoginForm.get('email').errors && userLoginForm.get('email').errors.required">
              Username is Required
            </small>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div [hidden]="userLoginForm.get('password').valid || (userLoginForm.get('password').pristine)"
            class="alert alert-warning">
            <small *ngIf="userLoginForm.get('password').errors && userLoginForm.get('password').errors.required">
              Password is Required
              <br>
            </small>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" (click)="authenticate()">
                <span *ngIf="isRequested">
                  <i class="fa fa-spinner fa-spin" style="font-size:14px"></i>
                </span> Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
